.container
  .jumbotron
    h1 Techy Train
    p Implementing users 

  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")