.container
  .jumbotron
    h1 Techy Train
    p Implementing users 
    p {{test}}

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")